In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame([[3,2,5], [10,0,2],[6,5,3]], 
                    columns=["사과", "자두", "포도"], 
                    index=["이성계", "김유신", "이순신"])
s1 = df1["사과"]

In [4]:
df1

     사과  자두  포도
이성계   3   2   5
김유신  10   0   2
이순신   6   5   3

In [5]:
s1

이성계     3
김유신    10
이순신     6
Name: 사과, dtype: int64